{% assign projects = site.data.data.projects %}
{% if projects %}
<section class="section projects-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-archive fa-stack-1x fa-inverse"></i>
    </span>
    {{ projects.title }}
  </h2>

  {% if projects.intro %}
  <div class="intro">
      <p>{{ projects.intro }}</p>
  </div><!--//intro-->
  {% endif %}


  {% for project in projects.assignments %}

  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h4 class="project-title" style="margin: 0; max-width: 75%;">
          {% if project.link %}
          <a href="{{ project.link }}" target="_blank">{{ project.title }}</a>
          {% else %}
          {{ project.title }}
          {% endif %}
        </h4>
        <div class="time">{{ project.time }}</div>
      </div><!--//upper-row-->
  
      {% if project.funder %}
      <div class="company">{{ project.funder }}</div>
      {% endif %}
  
      {% if project.tagline %}
      <div class="details">{{ project.tagline }}</div>
      {% endif %}
    </div><!--//meta-->
  </div><!--//item-->



  
  {% endfor %}

</section><!--//section-->
{% endif %}
